analytics-logs/
caches/
customisations/
customisations-backup/
data/
export/*
ExporterTemplates/
import/
keys/
log/
logos/
monitor/
scriptrunner/
scripts/
tmp/
.jira-home.lock
.script-V2.bat
plugins/*
!export/backup.zip
